* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: grid;
  place-content: center;
}

.block {
  width: 400px;
  height: 400px;
  border-radius: 5px;
  background-color: #e56262;
}

.center {
  width: 100%;
  height: 100%;
}
.circles {
  width: 100%;
  height: 100%;
  position: relative;
}

.circles span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 250px;
  height: 250px;
  border-radius: 50%;
  background-color: white;
  box-shadow: 5px 5px 13px rgba(0, 0, 0, 0.3);
}

.circles span:first-child {
  width: 250px;
  height: 250px;
  z-index: 100;
  animation: fake 4s ease infinite;
}

.circles span:nth-child(2) {
  width: calc(250px * 0.75);
  height: calc(250px * 0.75);
  animation: fake2 4s ease infinite;
  animation-delay: 0.2s;
  z-index: 101;
}

.circles span:last-child {
  width: calc(250px * 0.5);
  height: calc(250px * 0.5);
  animation: fake3 4s ease infinite;
  animation-delay: 0.5s;

  z-index: 102;
}

@keyframes fake {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: 250px;
    height: 250px;
  }
  100% {
    width: 0;
    height: 0;
  }
}
@keyframes fake2 {
  0% {
    width: 0;
    height: 0;
  }
  50% {
    width: calc(250px * 0.75);
    height: calc(250px * 0.75);
  }
  100% {
    width: 0;
    height: 0;
  }
}

@keyframes fake3{
  0%{
    width: 0;
    height: 0;
  }
  50%{
    width: calc(250px * 0.5);
    height: calc(250px * 0.5);
  }
  100%{
    width: 0;
    height: 0;
  }
}