:root {
	--motion: cubic-bezier(0.5, 0, 0.6, 1);
}
body {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100vw;
	height: 100vh;
}
.frame {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 400px;
	height: 400px;
	border-radius: 2px;
	box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	overflow: hidden;
	background: rgb(225, 79, 86);
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	position: relative;
	border-radius: 50%;
	width: 175px;
	height: 175px;
	box-shadow: 0 0 15px 3px rgba(141, 49, 54, 1);
	overflow: hidden;
	opacity: 1;
	animation: fade 10s infinite;
	transition: ease 300ms;
	cursor: pointer;
	z-index: 5;
}
@keyframes fade {
  0% { opacity: 0; }
	10% { opacity: 1; }
  35% { opacity: 1; }
	50% { opacity: 0; }
	65% { opacity: 1; }
	90% { opacity: 1; }
	100% { opacity: 0; }
}
.circle:hover {
	scale: 1.25;
}

/* SUN */
.sun {
	position: absolute;
	top: 17px;
	left: 43.5%;
	width: 25px;
	height: 25px;
	border-radius: 50%;
	transform-origin: 50% 500%;
	background-color: rgba(249, 215, 72, 1);
	filter: drop-shadow(0px 0px 5px rgba(249, 215, 28, 1));
	z-index: 1;
	animation: sun 5s var(--motion) infinite, sunTime 10s infinite;
	opacity: 1;
}
@keyframes sun {
	0% {
		transform: rotate(-70deg);
	}
	30% {
		transform: rotate(-30deg);
		background-color: rgba(249, 215, 28, 1);
	}
	70% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(70deg);
		background-color: rgba(231, 175, 0, 1);
	}
}
@keyframes sunTime {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
	50.1% {
		opacity: 0;
	}
	100% {
		opacity: 0;
	}
}

/* MOON */
.moon {
	position: absolute;
	top: 17px;
	left: 43.5%;
	width: 21px;
	height: 21px;
	transform-origin: 50% 560%;
	fill: rgba(244, 246, 240, 1);
	filter: drop-shadow(0px 0px 5px rgba(244, 246, 240, 1));
	z-index: 1;
	animation: moon 5s var(--motion) infinite, moonTime 10s infinite;
	opacity: 0;
}
@keyframes moon {
	0% {
		transform: rotate(-70deg);
	}
	30% {
		transform: rotate(-30deg);
	}
	70% {
		transform: rotate(25deg);
	}
	100% {
		transform: rotate(70deg);
	}
}
@keyframes moonTime {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
	50.1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

/* SKY */
.sky {
	position: relative;
	width: 185px;
	height: 185px;
  background: linear-gradient(rgb(101, 192, 229), rgb(206, 73, 147));
	background-size: 400% 400%;
	z-index: -5;
	animation: bg-color 5s var(--motion) infinite;
}
@keyframes bg-color {
	0% { background-position: 0% 0%; }
	100% { background-position: 0% 30%; }
}

.ground {
	position: absolute;
	bottom: -10px;
	width: 180px;
	height: 70px;
	background: rgb(231, 167, 114);
	z-index: 2;
	animation: groundColor 10s infinite;
}
@keyframes groundColor {
	0% { filter: brightness(1.25); }
	50% { filter: brightness(1.25); }
	50.1% { filter: brightness(0.85); }
	100% { filter: brightness(0.85); }
}

.ground:before {
	content: "";
	position: absolute;
	top: 0;
	left: -54px;
	width: 288px;
	height: 50px;
	background: rgba(0, 0, 0, 0.4);
	z-index: 3;
	clip-path: polygon(100% 10%, 30% 0%, 70% 0%);
	animation: shadow 5s var(--motion) infinite;
}
@keyframes shadow {
	0% { clip-path: polygon(100% 0%, 30% -1%, 70% -1%); }
	32% { clip-path: polygon(90% 20%, 30% -1%, 70% -1%); }
	68% { clip-path: polygon(30% 60%, 30% -1%, 70% -1%); }
	100% { clip-path: polygon(0% 5%, 30% -1%, 70% -1%); }
}

.pyramid {
	position: absolute;
	width: 120px;
	height: 60px;
	background-color: rgba(255, 246, 200, 1);
	background-image: linear-gradient(
		180deg,
		transparent 80%,
		rgba(223, 215, 175, 0.8) 80%
	);
	background-size: 100% 16px;
	z-index: 0;
	clip-path: polygon(0% 100%, 100% 100%, 50% 0%);
	overflow: hidden;
}

.pyramid:before {
	content: "";
	position: absolute;
	right: -1.4px;
	width: 120px;
	height: 70px;
	z-index: -1;
	background-color: rgb(64, 61, 50);
	clip-path: polygon(48% -5%, 68% 100%, 110% 100%);
	opacity: 0.8;
	animation: pyramidRight 5s var(--motion) infinite;
}
@keyframes pyramidRight {
  0% { opacity: 0.7; }
  30% { opacity: 0.6; }
	90% { opacity: 0.2; }
	100% { opacity: 0; }
}

.pyramid:after {
	content: "";
	position: absolute;
	left: -1px;
	width: 120px;
	height: 70px;
	z-index: -1;
	background-color: rgba(64, 61, 50);
	clip-path: polygon(50% -5%, -10% 100%, 70% 100%);
	animation: pyramidLeft 5s var(--motion) infinite;
	opacity: 0;
}
@keyframes pyramidLeft {
  0% { opacity: 0; }
  30% { opacity: 0.1; }
	78% { opacity: 0.6; }
	100% { opacity: 0.8; }
}

/* NIGHT SKY */
.stars {
	background: rgba(8, 14, 47, 1);
	width: 180px;
	height: 180px;
	border-radius: 50%;
	margin: 0;
	padding: 0;
	position: absolute;
	opacity: 0;
	z-index: -4;
	animation: stars 10s infinite;
}
@keyframes stars {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
	50.1% {
		opacity: 1;
	}
	100% {
		opacity: 1;
	}
}

li {
	position: absolute;
	list-style-type: none;
	width: 10px;
	height: 10px;
	border-radius: 50%;
	filter: blur(4px);
}
li:nth-child(1) {
	top: 13px;
	left: 60px;
	scale: 0.5;
	background: rgb(255, 244, 243);
	animation: star1 2s infinite alternate;
}
li:nth-child(2) {
	top: 45px;
	left: 100px;
	scale: 0.5;
	background: rgb(255, 244, 243);
	animation: star1 2.5s infinite alternate;
}
li:nth-child(3) {
	top: 35px;
	left: 30px;
	scale: 0.5;
	background: rgb(199, 216, 255);
	animation: star2 3s infinite alternate;
}
li:nth-child(4) {
	top: 55px;
	left: 145px;
	scale: 0.5;
	background: rgb(199, 216, 255);
	animation: star2 7s infinite alternate;
}
li:nth-child(5) {
	top: 22px;
	left: 90px;
	scale: 0.5;
	background: rgb(199, 216, 255);
	animation: star2 3.8s infinite alternate;
}
li:nth-child(6) {
	top: 28px;
	left: 125px;
	scale: 0.5;
	background: rgb(255, 229, 207);
	animation: star3 5s infinite alternate;
}
li:nth-child(7) {
	top: 55px;
	left: 45px;
	scale: 0.5;
	background: rgb(255, 229, 207);
	animation: star3 6s infinite alternate;
}
li:nth-child(8) {
	top: 80px;
	left: 20px;
	scale: 0.5;
	background: rgb(255, 244, 243);
	animation: star1 2.4s infinite alternate;
}
li:nth-child(9) {
	top: 85px;
	left: 140px;
	scale: 0.5;
	background: rgb(199, 216, 255);
	animation: star2 3.3s infinite alternate;
}
@keyframes star1 {
	0% {
		transform: scale(0.2);
	}
	100% {
		transform: scale(0.5);
	}
}
@keyframes star2 {
	0% {
		transform: scale(0.3);
	}
	100% {
		transform: scale(0.6);
	}
}
@keyframes star3 {
	0% {
		transform: scale(0.5);
	}
	100% {
		transform: scale(0.7);
	}
}
