@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);

.frame{
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    height: 400px;
    margin-top: -200px;
    margin-left: -200px;
    border-radius: 2px;
    box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
    overflow: hidden;
    background: #ffd6ff;
    color: #333;
    font-family: 'Open Sans', Helvetica, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.wave-front{
    stroke: black;
    stroke-width: 2px;
    position: absolute;
    left: -50%;
    z-index: 100;
    animation:  wave 10s ease-in-out infinite;
}

.wave-middle{
    position: absolute;
    stroke: black;
    stroke-width: 2px;
    left: -50%;
    top: 10%;
    z-index: 10;
    animation: wave 10s ease-in-out reverse infinite;
}

.wave-back{
    position: absolute;
    stroke: black;
    stroke-width: 2px;
    left: -50%;
    top: 10%;
    z-index: 1;
    animation: wave 10s ease-in-out infinite;
}

@keyframes wave{
    0%{
        transform: translate(0, 0);
    }
    25%{
        transform: translate(20%, 0);
    }
    75%{
        transform: translate(-20%, 0);
    }
    100%{
        transform: translate(0, 0);
    }
}