@import url(https://fonts.googleapis.com/css?family=Open+Sans:700,300);
 .frame {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 width: 400px;
	 height: 400px;
	 margin-top: -200px;
	 margin-left: -200px;
	 border-radius: 2px;
	 box-shadow: 4px 8px 16px 0 rgba(0, 0, 0, 0.1);
	 overflow: hidden;
	 background: #4a627a;
	 color: #333;
	 font-family: 'Open Sans', Helvetica, sans-serif;
	 -webkit-font-smoothing: antialiased;
	 -moz-osx-font-smoothing: grayscale;
}
 .center {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
}
 nav {
	 display: grid;
	 align-items: center;
	 justify-items: center;
	 grid-template-columns: 1fr 1fr 1fr;
	 border-top: 2px solid white;
	 border-bottom: 2px solid white;
	 cursor: pointer;
	 height: 15px;
	 width: 30px;
}
 nav.max {
	 transition-duration: 0.5s;
	 transition-property: height, width;
	 transition-delay: 0s, 0.5s;
	 height: 50px;
	 width: 300px;
}
 nav.max div {
	 opacity: 1;
}
 nav div {
	 color: white;
	 vertical-align: middle;
	 transition-duration: 0.5s;
	 transition-property: opacity;
	 transition-delay: 0.55s;
	 opacity: 0;
}
 